@charset "UTF-8";

body {
    background-color: rgb(175, 214, 175);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(18, 207, 18);
}

h1#principal {
    text-align: center;
    background-color: darkgray;
    color: darkgreen;
}



h2 {
    color: rgb(60, 119, 65);
}

.basico {
    color: rgb(139, 118, 158);

}

.intermediario {
    color: rgb(54, 99, 184);
}

.avancado {
    color: rgb(211, 47, 80);
}

.destaque {
    background-color: rgba(61, 49, 143, 0.616);
}